<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.slownews.controller.Authorization.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.slownews.controller.Authorization.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexPageController</servlet-name>
        <servlet-class>com.slownews.controller.BBC.IndexPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexPageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArchivePageController</servlet-name>
        <servlet-class>com.slownews.controller.InnerPages.ArchivePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ArchivePageController</servlet-name>
        <url-pattern>/ArchivePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.slownews.controller.Authorization.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HabrahabrMainNewsController</servlet-name>
        <servlet-class>com.slownews.controller.Habrahabr.HabrahabrMainNewsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HabrahabrMainNewsController</servlet-name>
        <url-pattern>/HabrahabrMainNewsController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JavaWorldNewsController</servlet-name>
        <servlet-class>com.slownews.controller.JavaWorld.JavaWorldNewsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JavaWorldNewsController</servlet-name>
        <url-pattern>/JavaWorldNewsController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BBCArchivePageController</servlet-name>
        <servlet-class>com.slownews.controller.BBC.BBCArchivePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BBCArchivePageController</servlet-name>
        <url-pattern>/BBCArchivePageController</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>HabrahabrArchivePageController</servlet-name>
    <servlet-class>com.slownews.controller.Habrahabr.HabrahabrArchivePageController</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>HabrahabrArchivePageController</servlet-name>
        <url-pattern>/HabrahabrArchivePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JavaWorldArchivePageController</servlet-name>
        <servlet-class>com.slownews.controller.JavaWorld.JavaWorldArchivePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JavaWorldArchivePageController</servlet-name>
        <url-pattern>/JavaWorldArchivePageController</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
</servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>



</web-app>